:root {
    --accent-1: rgba(7, 215, 215, 0.171);
    --bg-1: rgb(222, 244, 232);
}

body {
    background-color: var(--bg-1);
    font-family: 'Open sans', sans-serif;
    margin: 0;
}
header {
    background-color: rgb(158, 229, 188);
    padding-top: 2em;

}
h1 {
    text-align: center;
    background: -webkit-linear-gradient(#60d4ea, #012f82);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}
.boxWrap {
    margin-top: 3%;
    padding: 50px;
    height: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 5em;

}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-1);
    padding: 1em 3em;
    border-radius: 0.7em;
    box-shadow: -1px 5px 6px 1px rgba(130, 133, 135, 0.716);

}
.Cont {
    padding-bottom: 1em;
}
.int {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.int > a {
    text-decoration: none;
    font-size: 2rem;
}
menu {
    background-color: var(--accent-1);
    border-radius: 0.3em 0.3em 0 0;
    margin-inline: auto;
    width: fit-content;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
li {
    font-size: larger;
    padding: 0.5em 1em;
    border-radius: 0.3em 0.3em 0 0;
}
menu li:hover {
    cursor: pointer;
}
.curSel {
    background-color: rgba(0, 174, 255, 0.342);
}
.Quote {
    font-size: x-large;
    font-weight: 600;
    font-style: italic;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.semiwrap {
    display: flex;
    flex-direction: row;
    padding-inline: 3vw;
}
#homeicon {
    height: 130px;
    aspect-ratio: 1;
    position: absolute;
    left: 20%;
}
#siteSel {
    box-shadow: 0 0 4px 1px rgba(130, 133, 135, 0.716);
}
.favIcon {
    height: 64px;
    aspect-ratio: 1;
}
img {
    margin-bottom: 0;
}
.hidden {
    display: none;
}
#todoList {
    border-radius: 5px;
}
.tasklist {
    list-style: none;
    padding-inline-start: 0;
}
.tasklist > li {
    background-color: white;
    margin-bottom: 1em;
    border-bottom: brown 3px solid;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
}
.tasklist button {
    height: fit-content;
    border-radius: 2px;
    border: none;
    background: none;
}
.task {
    font: optional;
}
.task:hover {
    box-shadow: -1px 0 3px 1px rgba(130, 133, 135, 0.5);
}
button:hover {
    cursor: pointer;
    color: black;
}
.rmvTask {
    color: brown;
}
.mdfTask {
    color: blue;
}
.btns {
    min-width: fit-content;
}